version: "3.9"

services:
  rovi:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - DISPLAY=:0
      - DISABLE_ROS1_EOL_WARNINGS=1
    volumes:
      - type: bind
        source: /dev
        target: /dev
      - type: bind
        source: ~/.ros
        target: /root/.ros
      - type: bind
        source: /run/user/1000/dkrtmp
        target: /tmp
      - type: bind
        source: ~/catkin_ws/src
        target: /root/catkin_ws/src
      - type: bind
        source: ~/storage
        target: /storage
    stdin_open: true
    tty: true
    privileged: true
    network_mode: host


